html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;

    background-color: #f0eeee;
    color: #777777;
}


.container {
    max-width: 750px;
    margin: 0 auto;
    background: #ffffff;
}


.row {
    display: flex;


}

.left {
    width: 33%;
}

.right {
    width: 67%;
}

.avatar {
    width: 300px;
    border-radius: 50%;
}
